<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>64109759032-p29o59hlj3bkjd32jb4djvoqsi5deitc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64109759032-p29o59hlj3bkjd32jb4djvoqsi5deitc</string>
	<key>API_KEY</key>
	<string>AIzaSyBgPI1Uvn0eLR6t5U7rUysWafhzvCHzSgA</string>
	<key>GCM_SENDER_ID</key>
	<string>64109759032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doYouMath</string>
	<key>PROJECT_ID</key>
	<string>do-you-math</string>
	<key>STORAGE_BUCKET</key>
	<string>do-you-math.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64109759032:ios:bded662c5549ad2da4b4cd</string>
</dict>
</plist>